<launch>
	<!-- Example finding 3D poses of the objects detected -->
	<!-- $ roslaunch zed_wrapper zed.launch -->

	<node name="find_object_3d" pkg="find_object_2d" type="find_object_2d" output="screen">
		<param name="gui" value="true" type="bool"/>
		<param name="settings_path" value="~/.ros/find_object_2d.ini" type="str"/>
		<param name="subscribe_depth" value="true" type="bool"/>
		<param name="objects_path" value="" type="str"/>
		<param name="object_prefix" value="object" type="str"/>
		
		<remap from="rgb/image_rect_color" to="/zed/rgb/image_rect_color"/>
		<remap from="depth_registered/image_raw" to="/zed/depth/depth_registered"/>
		<remap from="depth_registered/camera_info" to="/zed/rgb/camera_info"/>
	</node>
</launch>
