<launch>
    <arg name="gui" default="true"/>
    <arg name="image_topic" default="image"/>
    <arg name="objects_path" default="~/objects"/>
    <arg name="settings_path" default="~/.ros/find_object_2d.ini"/>

	<!-- Nodes -->
	<node name="find_object_2d" pkg="find_object_2d" type="find_object_2d" output="screen">
		<remap from="image" to="$(arg image_topic)"/>
		<param name="gui" value="$(arg gui)" type="bool"/>
		<param name="objects_path" value="$(arg objects_path)" type="str"/>
		<param name="settings_path" value="$(arg settings_path)" type="str"/>
	</node>
</launch>
